<footer class="container text-muted iraqpost px-5">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-3 pr-5">
            <div class="d-flex bd-highlight">
                <div class="p-2 bd-highlight"><i class="fab fa-linkedin rounded-circle p-1"></i></div>
                <div class="p-2 bd-highlight"><i class="fab fa-instagram rounded-circle p-1"></i></div>
                <div class="p-2 bd-highlight"><i class="fab fa-twitter rounded-circle p-1"></i></div>
                <div class="p-2 bd-highlight"><i class="fab fa-facebook-square rounded-circle p-1"></i></div>
            </div>
        </div>
        <div class="col-md-5 pl-5">
            <small class="text-white">جميع الحقوق محفوظة © 2020 الشركة العامة للبريد والتوفير</small>
        </div>
    </div>
</footer>