<div class="container mb-2">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img width="170" src="assets/images/logo-light.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='home'>الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link">الخدمات</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            الشحنات
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">طلب جديد</a>
            <a class="dropdown-item" routerLink='tracking'>تتبع الشحنات</a>
            <a class="dropdown-item" href="#">حساب تكلفة الشحنة</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='offices'>المكاتب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">الاخبار</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            عن البريد العراقي
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">تواصل معنا</a>
        </li>
      </ul>
    </div>
  </nav>
</div>