@import '../../styles.scss';

h4 , h6
{
    color: $maincolor;
}
.main
{
    color: $maincolor;
}
.trak
{
    background-color: $maincolor;
}
.divider 
{
  flex-grow: 1;
  border-bottom: 1px solid ;
 margin-bottom: 15px;
}
