
    <h4 class="float-right pr-5 mr-5 mt-4">تتبع الشحنات</h4>

<section class="container p-5 mt-5 -lg">
    <div class="row trak">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight"><i class="fab fa-stack-overflow fa-2x text-light"></i></div>
            <div class="p-2 bd-highlight">
                <h5 class="text-light">تتبع الشحنة</h5>
            </div>
        </div>
    </div>
    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="py-1">رقم التعقب</h6>
                </div>
                <div class="col-md-7">
                    <input class="form-control" placeholder="+9647834472060" autofocus>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-warning rounded-pill px-5 text-dark">بحث</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="d-flex flex-column  mb-3">
            <div class="">
                <h6 class="float-right">طلب رقم#123456789012</h6>
            </div>
            <div class="pb-2"><small class="text-muted float-right">حالةالطلب:<span class="text-warning"> تم ارسال الطلب
                    </span></small></div>
            <div><img src="assets/images/times.png" class="ml-3 float-right pt-1"><small class="float-right">تاريخ
                    التلسيم المتوقع
                    Apr, 2019 - 04:12 PM 23</small></div>
        </div>
    </div>
    <div class="container">
        <p class="d-flex ">
            <span><img src="assets/images/clipboard_alt.svg" class="border border-warning rounded-circle p-1"></span>
            <span class="divider"></span>
            <span><img src="assets/images/packages_alt.svg" class="border rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/delivery_office.svg" class="border rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/trans_truck.svg" class="border rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/delivery_package.svg" class="border rounded-circle p-1 bg-light"></span>
        </p>
    </div>
    <p class="d-flex  justify-content-between ml-3 mb-4">
        <small class="main">ارسال الطلب</small>
        <span></span>
        <small>التعبئة والشحن</small>
        <span></span>
        <small>سلمت الى الفرع</small>
        <span></span>
        <small>خارج للتوصيل</small>
        <span></span>
        <small>تم التسليم</small>
    </p>
    <hr>
    <div class="row mb-2">
        <div class="d-flex flex-column  mb-3">
            <div class="">
                <h6 class="float-right">طلب رقم#123456789012</h6>
            </div>
            <div class="pb-2"><small class="text-muted float-right">حالةالطلب:<span class="text-warning"> تم ارسال الطلب
                    </span></small></div>
            <div><img src="assets/images/times.png" class="ml-3 float-right pt-1"><small class="float-right">تاريخ
                    التلسيم المتوقع
                    Apr, 2019 - 04:12 PM 23</small></div>
        </div>
    </div>
    <div class="container">
        <p class="d-flex ">
            <span><img src="assets/images/clipboard_alt.svg" class="border bg-warning rounded-circle p-1"></span>
            <span class="divider text-warning"></span>
            <span><img src="assets/images/packages_alt.svg" class="border border-warning rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/delivery_office.svg" class="border rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/trans_truck.svg" class="border rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/delivery_package.svg" class="border rounded-circle p-1 bg-light"></span>
        </p>
    </div>
    <p class="d-flex  justify-content-between ml-3 mb-4">
        <small class="main">ارسال الطلب</small>
        <span></span>
        <small class="main">التعبئة والشحن</small>
        <span></span>
        <small>سلمت الى الفرع</small>
        <span></span>
        <small>خارج للتوصيل</small>
        <span></span>
        <small>تم التسليم</small>
    </p>
    <hr>
    <div class="row mb-2">
        <div class="d-flex flex-column  mb-3">
            <div class="">
                <h6 class="float-right">طلب رقم#123456789012</h6>
            </div>
            <div class="pb-2"><small class="text-muted float-right">حالةالطلب:<span class="text-warning"> تم ارسال الطلب
                    </span></small></div>
            <div><img src="assets/images/times.png" class="ml-3 float-right pt-1"><small class="float-right">تاريخ
                    التلسيم المتوقع
                    Apr, 2019 - 04:12 PM 23</small></div>
        </div>
    </div>
    <div class="container">
        <p class="d-flex ">
            <span><img src="assets/images/clipboard_alt.svg" class="border bg-warning rounded-circle p-1"></span>
            <span class="divider text-warning"></span>
            <span><img src="assets/images/packages_alt.svg" class="border bg-warning rounded-circle p-1"></span>
            <span class="divider text-warning"></span>
            <span><img src="assets/images/delivery_office.svg" class="border border-warning rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/trans_truck.svg" class="border rounded-circle p-1 bg-light"></span>
            <span class="divider"></span>
            <span><img src="assets/images/delivery_package.svg" class="border rounded-circle p-1 bg-light"></span>
        </p>
    </div>
    <p class="d-flex  justify-content-between ml-3 mb-4">
        <small class="main">ارسال الطلب</small>
        <span></span>
        <small class="main">التعبئة والشحن</small>
        <span></span>
        <small class="main">سلمت الى الفرع</small>
        <span></span>
        <small>خارج للتوصيل</small>
        <span></span>
        <small>تم التسليم</small>
    </p>
</section>