@import '../../styles.scss';


h5
{
    color: $maincolor;
}
.main
{
    color: $maincolor;
}
.bgb
{
    background-color: #e3e6ec;
}
.order {
    background-color: $secbackground;
}
.btn-main {
    background-color: #26386c;
}