<div class="container mt-5">
    <div class="d-flex align-items-start flex-column">
        <div class="p-1">
            <h5>المكاتب البريدية</h5>
        </div>
        <div class="p-1 font-weight-bold pb-3">مواعيد الدوام الرسمية من الأحد الى الخميس من الساعة 8:00 الى الساعة 02:30
            مساء</div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-4">
            <input class="rounded form-control" placeholder="اسم المحافظة">
        </div>
        <div class="col-md-4">
            <input class="rounded form-control" placeholder="نوع الخدمة">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn border rounded-pill px-4 text-dakr main font-weight-bold">اعادة
                تعيين</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-warning rounded-pill px-5 text-dark">اعرض</button>
        </div>
    </div>
</div>






<div class="container bg-light">
    <div class="row mb-4 ">
        <div class="col-md-4 border rounded">
            <div class="d-flex flex-column  mb-3">
                <div class="bgb">
                    <h6 class="float-right main  ">مكتب بريد الارشاد</h6>
                </div>
                <div><img src="assets/images/room-24.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">بفداد اليرموك</small></div>
                <div><img src="assets/images/call-24px.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">9640000000000</small></div>
                <div><img src="assets/images/printshop.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">9640000000000</small></div>
                <div><img src="assets/images/email-24px.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">info@post.iq</small></div>
                <div class="">
                    <h6 class="float-right main">خدمات المكتب</h6>
                </div>
                <div class="pb-2"><small class="text-muted float-right px-1"> الصندوق الافتراضى <span class="px-1">
                            النافذة
                            الواحدة
                        </span><span class=" px-1 text-muted"> التجارة الاكترونية
                        </span></small></div>
            </div>
            <hr>
            <div class="d-flex flex-column  mb-3">
                <div class="">
                    <h6 class="float-right pl-5">مكتب بريد الرياض</h6>
                </div>
                <div><img src="assets/images/room-24.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">بفداد اليرموك</small></div>
                <div><img src="assets/images/call-24px.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">9640000000000</small></div>
                <div><img src="assets/images/printshop.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">9640000000000</small></div>
                <div><img src="assets/images/email-24px.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">info@post.iq</small></div>
                <div class="">
                    <h6 class="float-right main">خدمات المكتب</h6>
                </div>
                <div class="pb-2"><small class="text-muted float-right px-1"> الصندوق الافتراضى <span class="px-1">
                            النافذة
                            الواحدة
                        </span><span class=" px-1 text-muted"> التجارة الاكترونية
                        </span></small></div>
            </div>
            <hr>
            <div class="d-flex flex-column  mb-3">
                <div class="">
                    <h6 class="float-right pl-5">مكتب بريد الانتصار</h6>
                </div>
                <div><img src="assets/images/room-24.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">بفداد اليرموك</small></div>
                <div><img src="assets/images/call-24px.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">9640000000000</small></div>
                <div><img src="assets/images/printshop.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">9640000000000</small></div>
                <div><img src="assets/images/email-24px.svg" class="ml-3 float-right pt-1"><small
                        class="float-right text-muted py-1">info@post.iq</small></div>
                <div class="">
                    <h6 class="float-right main">خدمات المكتب</h6>
                </div>
                <div class="pb-2"><small class="text-muted float-right px-1"> الصندوق الافتراضى <span class="px-1">
                            النافذة
                            الواحدة
                        </span><span class=" px-1 text-muted"> التجارة الاكترونية
                        </span></small></div>
            </div>
            <hr>
        </div>
        <div class="col-md-8">
            <img src="assets/images/map.png">
        </div>
    </div>
    <section class="container order px-5 py-4 rounded mb-5">
        <div class="row ">
            <div class="col-md-9">
                <h3 class="float-right">البريد العراقي..يصلك أينما كنت</h3>
                <p class="float-right ">سجل بياناتك و عنوانك و سنكون عندك فى أقرب وقت من اتصالك..</p>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-around">
                <button type="button" class="btn btn-main rounded-pill text-white px-4">ارسال طلب شحن الأن</button>
            </div>
        </div>
    </section>
</div>