@import '../../styles.scss';
.iraqpost {
    background-color: $maincolor;
}

.btn-main {
    background-color: #26386c;
}
h5
{
    color: $maincolor;
}

h4 
{
    color: $maincolor;
}

h3 {
    color: $maincolor;
}
.order {
    background-color: $secbackground;
}

.owl-carousel {
    direction: ltr;
}
.icn
{
    color: #ffb500;
}
