<section class="container iraqpost p-5 border-top border-warning">
    <div class="row">
        <div class="col-md-4 ml-5">
            <h1 class="text-white">نغلف.نشحن.نوصل</h1>
            <h1 class="text-white pb-3">حتى باب بيتك!</h1>
            <p class="text-white">اعرف تكلفة سعر الشحن و التوصيل لباب منزلك بضغطه زرار</p>
            <button type="button" class="btn btn-warning rounded-pill px-4 text-white ml-3">احسب طلبك</button>
            <button type="button" class="btn btn-main rounded-pill px-3 text-white">احسب تكلفة الشحنة</button>
        </div>
        <div class="col-md-6 mr-5">
            <img src="assets/images/Illustration_1.svg" width="450">
        </div>
    </div>
</section>






<section class="container p-5 mb-4">
    <div class="row">
        <div class="col-md-3">
            <h4 class="float-right">اكتشف المزيد</h4>
            <h4 class="float-right pb-5">عن خدماتنا المبتكرة</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme">
                <div class="item  bg-light p-4 border rounded">
                    <div class="col-md-6 mr-5">
                        <img src="assets/images/trod.PNG" class="mb-1">
                    </div>
                    <h5 class="">الطرود</h5>
                    <small class="text-secondary">خدمة الطرود: وتشمل المواد البريدية التى يزيد وزنها عن (2) كغم ولغاية
                        (20) كغم
                        ولا
                        تحمل صفة تجارية و ترسل عن طريق البريد الجوى و من مميزاتها القدرة على ارسال كميات كبيرة من
                        السلع
                        والمواد الغير تجارية و تعتمد الرسوم على اجور الكشك الكمركى</small>
                </div>
                <div class="item bg-light p-4 border rounded">
                    <div class="col-md-6 mr-5">
                        <img src="assets/images/hewala.PNG" class="mb-2">
                    </div>
                    <h5 class="">الحوالات</h5>
                    <small class="text-secondary">فى اطار تنفيذ استراتيجية البريد العراقى الجديدة والمتضمنة تطبيق
                        الخدمات المالية
                        البريدية ولما لهذه الخدمات من عوائد مالية جيدة كفيلة بالنهوض بالواقع المالي ةالتقنى لشركتنا. لذا
                        تنوى الشركة العامة للبريد والتوفير تنفيذ مشروع الحوالات البريدية</small>
                </div>
                <div class="item bg-light p-4 border rounded">
                    <div class="col-md-6 mr-5">
                        <img src="assets/images/shopping.svg">
                    </div>
                    <h5 class="">التجارة الالكترونية</h5>
                    <small class="text-secondary">يمكن تعريف التجارة الالكترونية كما عرفتها منظمة التجارة العالمية على
                        أنها تشتمل على
                        أنشطة انتاج السلع و الخدمات و توزيعها و تسويقها و بيعها و تسليمها للمشتري من خلال الوسائط
                        الاكترونية المتعددة و العمليات التجارية للمشترى</small>
                </div>
                <div class="item iraqpost p-4 border rounded">
                    <div class="col-md-6 mr-5">
                        <img src="assets/images/credit_card.png">
                    </div>
                    <h5 class="text-warning icn">الدفع الالكتروني</h5>
                    <small class="text-white">تنفيذ لقرار مجلس الوزراء الموقر القاضى بتحويل نظام دفع رواتب لكافة
                        المؤسسات الحكومية
                        الى النظام الالكترونى سارعت وزراة الاتصالات وعن طريق الشركة العامة للبريد والتوفير باتخاذ
                        التدابير اللازمة لتنفيذ ما جاء بقرار مجلس الوزراء</small>
                </div>
                <div class="item bg-light p-4 border rounded">
                    <h5 class="">الدفع الالكترونى</h5>
                    <small class="">فى اطار تنفيذ استراتيجية البريد العراقى الجديدة والمتضمنة تطبيق الخدمات المالية
                        البريدية ولما لهذه الخدمات من عوائد مالية جيدة كفيلة بالنهوض بالواقع المالي ةالتقنى لشركتنا. لذا
                        تنوى الشركة العامة للبريد والتوفير تنفيذ مشروع الحوالات البريدية</small>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container order px-5 py-4 rounded mb-5">
    <div class="row ">
        <div class="col-md-9">
            <h3 class="float-right">البريد العراقي..يصلك أينما كنت</h3>
            <p class="float-right ">سجل بياناتك و عنوانك و سنكون عندك فى أقرب وقت من اتصالك..</p>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-around">
            <button type="button" class="btn btn-main rounded-pill text-white px-4">ارسال طلب شحن الأن</button>
        </div>
    </div>
</section>



<section class="container-fluid mb-4">
    <div class="row d-flex align-items-center justify-content-around">
        <div class="col-md-2">
            <h3>تطبيق البريد</h3>
            <p class="text-warning">حمل التطبيق من هنا</p>
            <div class="d-flex bd-highlight mb-3">
                <div class="px-4 bd-highlight"><img src="assets/images/App_Store_Badge_AR.svg"></div>
                <div class="px-2 bd-highlight"><img src="assets/images/Google_Play_Badge_AR.svg"></div>
            </div>
        </div>
        <div class="col-md-9">
            <img src="assets/images/Devices.png">
        </div>
    </div>
</section>